<%- include ../partials/header %> <%- include ../partials/categories-navbar %>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-12 m-auto text-justify">
      <h1 class="mt-4 mb-5 text-center">About Us</h1>
      <h3>Welcome to our store</h3>
      <p>
        Online shopping is taking over the market faster than one can comprehend. That being said, no one else knows or understands the retail market better than Shoppers Stop. We are at the forefront when it comes to retail development. We are expanding our reach over retail stores and the digital market with one of the best online shopping sites. Shopping online can sometimes be tedious and difficult, however with an attractive design, our online fashion destination is easy to navigate making your experience delightful. One can browse through exclusive offers and bag some of the best deals available for themselves. Best deals on top categories, free shipping* and options like cash on delivery to provide you with a hassle free online experience to ‘Shop Anytime Anywhere’.
      </p>
      <h1>HAVE FUN ! AND SHOP LIKE CRAZY !!!</h1>
    </div>
   
  </div>
</div>

<script type="text/javascript" src="/javascripts/map.js"></script>

<%- include ../partials/footer %>
