<%- include ../partials/header %> <%- include ../partials/categories-navbar %>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-12 m-auto text-justify">
      <h1 class="mt-4 mb-5 text-center">Shipping Policy</h1>
      <p>
        On this page you will find information about our shipping duration and
        costs.
      </p>

      <h4>Cancel Items and Orders</h4>
      <p>
        To cancel an order that has already been dispatched:
          <ol>
          <li>Go to Your Orders</li>
          <li>Select the Request cancellation option and proceed further</li>
          <li>The item(s) will be returned to us for a refund (if the payment is already made)</li>
          <li>In case you're still contacted for delivery, please refuse to accept it.</li>
          </ol>
      </p>

      <h4>Shipping Rates</h4>
      <p>
        For certain products sold on our site, the customer will have an option of Guaranteed Morning, Same-Day, One/Two-Day Delivery. The terms and conditions for Guaranteed Delivery are available here. The details of Guaranteed Shipping Speeds and Delivery Charges are available.
      </p>

      <h4>Returning Products</h4>
      <p>
        You may request returns for most items you buy from the sellers listed on our site. However, you can only return items explicitly identified as "returnable" on the product detail page and/or our policy and within the ‘return window’ period. Please refer to the Returns policy. to know which categories are "non-returnable" and the specific return windows for categories eligible for return.
      </p>

      <h4>Do you have questions?</h4>
      <p>
        Please do not hesitate to
        <a href="/pages/contact-us"><u>contact us</u></a> through our emails or
        phone numbers
      </p>
    </div>
  </div>
</div>

<%- include ../partials/footer %>
